.participant-card-container{
  .ant-card{
    max-width: 200px;
  }
  .link-container, .link-container:hover{
    color: #000 !important;
  }
}


.participant-card-marketplaceprofile{
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(0,0,0, 0.1);
  width: 133%;
  padding-top: 10px;
  margin-top: 10px;

  &-icon{
    font-size: 2rem;
    margin-left: 15px;
  }

  &-icon:first-child{
    margin-left: 0px;
  }
  
}
  