@import "../../../styles/main.scss";

.conference-leaderboard {
  margin-top: 13rem;
  width: 100%;

  @media (max-width: 1100px) {
    margin-top: 23rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }



  &-container {

    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    @media (max-width: 500px) {
      margin: 2rem 0rem;
    }
   
  }

  &-button{
    width: 240px;
    position: absolute;
    left: 35%;
    top: 45px;
    z-index: 20;
  }
 
}
span{
  font-weight: bold !important;
}
