@import "styles/main.scss";

.notification-icon {
  width: 2rem;
  height: 2rem;
}

.notification-content {
  width: 250px;

  .loading-container {
    text-align: center;
    padding: 1rem;
  }
}

.notification-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  cursor: pointer;

  &.see-more a {
    color: $color-primary !important;
  }

  &-circle {
    display: block;
    width: 8px;
    height: 8px;
    min-width: 8px;
    min-height: 8px;
    background: $color-primary;
    border-radius: 50%;
  }

  &-message {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400 !important;
  }

  &:hover {
    .notification-item-message {
      color: $color-primary !important;
    }
  }
}
