@import "styles/main.scss";

.skill-cohort-page {
	display: grid;
	grid-template-columns: auto 1fr;
	width: 100%;

	&-container {
		height: calc(100vh - 72px);
		background: $color-background;
		overflow: auto;
		padding: 2rem;
		position: relative;

		@media (max-width: 576px) {
			padding: 1rem;
		}
	}

	&__filters--button {
		display: none;
		margin-bottom: 1rem;

		button {
			width: 100%;
		}

		@media (max-width: 1023.98px) {
			display: block;
		}
	}

	@media (max-width: 1023.98px) {
		.podcast-filter-panel {
			display: none;
		}
	}
}

.skill-cohort-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 2rem;
	margin-bottom: 44px;
	margin-top: 3rem;

	@media (max-width: 1023.98px) {
		margin: 1rem 4rem 44px;
		justify-items: center;
	}

	@media (max-width: 767.98px) {
		margin: 1rem 1rem 44px;
		grid-row-gap: 42px;
		grid-column-gap: 1rem;
	}
}

@media (max-width: 1023.98px) {
  .skill-cohort-filter-panel {
    display: none;
  }

  .skill-cohort-page {
    grid-template-columns: none;
  }
}

.project-x-advertisement-content {
  // background-color: red;
  display: flex;
}

.project-x-advertisement-wrapper {
  // margin-left: auto;
  // margin-right: auto;
  background-color: red;

  &-preview {
    margin-top: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;

    .advertisement {
      width: 336px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lightgray;
      height: 275px;
      cursor: pointer;

      &-img {
        width: 336px;
        height: 275px;
        object-fit: cover;
      }
    }
  }
  
  &-content {
    margin-top: 10px;
    
    .advertisement {
      width: 336px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lightgray;
      height: 275px;
      cursor: pointer;

      &-img {
        width: 336px;
        height: 275px;
        object-fit: cover;
      }
    }
  }
}
