@import "styles/main.scss";

.skill-cohort-detail-page {
    width: 100%;
    height: 100%;
    padding: 12px;

    .back-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}