@import "styles/main.scss";

.talent-marketplace-profile {
  padding: 1rem;
  width: 100%;
  max-height: calc(100vh - 4.5rem - 66px);
  overflow-y: auto;

  @media (max-width: 1500px){
    padding: 0px;
    // padding-left: 2rem;
    } 

  @media (max-width: 1100px){
    padding-top: 16rem;
    } 

  @media (max-width: 800px){
    padding-top: 16rem;
    } 

    @media (max-width: 500px){
      padding-top: 18rem;
      } 

  // &::-webkit-scrollbar {
  //   display: none;
  // }

  &-form{
      padding-bottom: 1rem !important;
  }

}

.custom-checkbox{
  margin-left: 0 !important;
}

.check-icon{
   color: $color-success !important;
}

.preferred-skills-wrapper {
  display: flex;
  align-items: baseline;
  @media (max-width: 900px){
    justify-content: space-evenly;
    gap: 100px;
    } 

  .preferred-skills-main-content {
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    width: 15%;
    @media (max-width: 900px){
      width: 30%;
      margin-right: 0px;
      } 
  }
}

.preferred-skills-level-content {
  @media(max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
}
// .skills-wrapper {
  // background-color: white;
  // margin-bottom: 1rem;
// }
