@import "styles/main.scss";


.communities-page{
    width: 100%;
    height: 100vh;
    display:  flex;
    justify-content: center;
    align-items: center;

    &-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 800px;
        
    }

.communitites-option{
    border: 3px solid $color-dark-purple;
    border-radius: 3px;
    padding: 2rem;
    margin-bottom: 20px;
    width: 350px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    h1{
        font-size: 15px !important;
        text-align: center;
    }

    h2{
        font-size: 12px !important;
        text-align: center;
        margin-top: -15px !important;
        margin-bottom: 0px !important;
    }
    
}

.turn-notification{
    margin-top: 9rem;
    align-self: flex-start;
    max-width: 250px;

    .switch-container{
        margin-top: 1rem;
    }
}
}