@import "styles/main.scss";

.form-message-container{
    background: $color-background-dark;
    border-top: 1px solid $color-border;
    width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;

    .files-upload-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 5px;

        .file-not-image{
            display: flex;
            padding: 0px 10px;
            justify-content: center;
            overflow: hidden;
            align-items: center;
            background: $color-white;
            box-shadow: 0px 0px 1px #000;
            border-radius: 5px;

            .file-image{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-top: 20px;
            }
        }

        .file-name{
            max-height: 50px;
            white-space: pre-line;
            text-overflow: ellipsis;
        }
    }

    .form-message{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        padding: 5px;

        &-textarea{
          resize:none; 
          width: 230px; 
          border-radius: 5px;
        }
        
    }

    .button-send-message{
        background: $color-primary !important;
        color: #fff !important;
        transition: all ease 300ms !important;

        & .anticon{
            vertical-align: 0.1em !important
        }
        
        &:hover,&:focus{
            border-color: $color-primary !important;
        }
    }

    .ant-form-item{
    margin-bottom: 0 !important;
    }


.delete-image{
    position: absolute;
    color: $color-white !important;
    padding: 1px;
    right: -5px;
    top: -5px;
    background: $color-text-secondary;
    border-radius: 50%;
}
}
