@import "styles/main.scss";

.form-message-container{
    background: $color-background-dark;
    position: absolute;
    border-top: 1px solid $color-border;
    bottom: 0;
    width: 100%;
    max-width: 100%;

    .form-message{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;

        &-textarea{
          resize:none; 
          width: 250px; 
          border-radius: 5px;
        }
        
    }

    .button-send-message{
        background: $color-primary !important;
        color: #fff !important;
        transition: all ease 300ms !important;
        
        &:hover,&:focus{
            border-color: $color-primary !important;
        }
    }
    
}


.ant-form-item{
    margin-bottom: 0 !important;
}