@import "styles/main.scss";

.learning-journey-form{
  background-color: $color-white;
  padding: 3rem;
  border-radius: 8px;
  h3 {
    margin-bottom: 3rem !important;
  }
  label {
    font-weight: bold;
  }
  .ant-checkbox-group
  {
    width: 100%;
  }
  .ant-checkbox-wrapper{
    span:nth-child(2){
      font-size: 18px !important;
    }
  }
}
