@import "styles/main.scss";

.event-filter-drawer {
  max-width: 450px;

  .custom-drawer-close {
    display: none;
  }

  .ant-drawer-body {
    padding: 0px 1rem !important;
  }

  &-container {
    overflow: hidden;
  }

  &-header {
    width: 100%;
    height: 72px;
    background: $color-white;
    border: 1px solid $color-border;
    box-shadow: 0px 1px 3px #37215729;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    .done {
      color: $color-primary !important;
    }
  }

  &-allevents {
    height: 36px !important;
    @include app-font(16px, 21px);
    width: 100%;
    margin-bottom: 56px;
  }

  &-content {
    width: 100%;
    height: calc(100vh - 60px);
    overflow: auto;
    padding: 44px 20px;

    .custom-calendar {
      .custom-calendar-header-date {
        @include app-font(16px, 30px, 600);
      }

      .custom-calendar-header-buttons img {
        width: 28px;
        height: 28px;
      }

      .ant-picker-content {
        tr {
          height: 32px !important;
        }

        th {
          width: 55px !important;
        }
      }

      &-today {
        height: 36px;
        @include app-font(16px, 21px);
        margin-bottom: 1rem;
      }
    }

    .search-filter {
      &-title {
        color: $color-text-secondary !important;
      }

      & > .ant-checkbox-group {
        margin-top: 0.25rem;
        display: flex;
        flex-direction: column;

        .ant-checkbox-wrapper {
          margin: 1rem 0 0;

          & > span:last-child {
            color: $color-text-primary !important;
            @include app-font(16px, 30px);
          }
        }
      }
    }
  }

  &-footer {
    width: 100%;
    height: 72px;
    background: $color-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}
