@import "styles/main.scss";

.form-message-mobile-container{
    background: $color-background-dark;
    border-top: 1px solid $color-border;
    width: 100%;
    max-width: 100%;

    .form-message-mobile{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;

        .form-message-mobile-textarea{
          resize:none;
          min-width: 200px; 
          width: 90%;
          max-width: 400px; 
          border-radius: 5px;
        }
        
    }

    .button-send-message{
        background: $color-primary !important;
        color: #fff !important;
        transition: all ease 300ms !important;
        
        &:hover,&:focus{
            border-color: $color-primary !important;
        }
    }

    .ant-form-item{
    margin-bottom: 0 !important;
}
    
}


