@import "styles/main.scss";

.event-list {
  padding-top: 40px;
  height: calc(100vh - 200px);
  overflow: hidden scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: $color-text-secondary;
  }

  &-filters {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 977.98px) {
      display: flex;
    }

    @media (max-width: 575.98px) {
      .custom-button {
        width: 100%;
      }
    }
  }

  &-batch {
    width: 100%;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-column-gap: 53px;
    margin-bottom: 2.25rem;

    .date-avatar {
      margin-bottom: 28px;
    }

    .ant-row {
      width: 100%;
    }

    @media (max-width: 575.98px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    // Medium devices (tablets, less than 992px)
    @media (max-width: 991.98px) {
      grid-column-gap: 16px;
    }
  }
}
