.container-conference{
    overflow: hidden scroll;
    height: calc(100vh - 10px);
    margin-top: 90px;
    background: #FFFFFF;
  
    .containers-agenda{
        width: 85%;
        margin-left: 7.5%;
        height: auto;
        margin-bottom: 130px;
  
        .title-containers{
            padding-top: 60px;
            padding-bottom: 20px;
            width: 100%;
            text-align: left;
            font-size: 40px;
            margin: 0px;
            font-weight: bold;
        }
    }

  }