.recruiter-view {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  max-height: calc(100vh - 4.5rem - 66px);
  overflow-y: auto;

  // &::-webkit-scrollbar {
  //   display: none;
  // }

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (min-width: 1536px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}