.button-join, .button-withdraw, .button-admin, .button-full{
    border: none;
    border-radius: 5px;
    background: #00b574;
    font-style: normal;
    font-weight: 450;
    width: 200px;
    font-size: 16px;
    padding: 5px 15px;
    line-height: 21px;
    color: #FFFFFF;
    order: 0;
    flex-grow: 0;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}

.button-full{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    background: #e61e47;
}

.button-withdraw{
    background: #e61e47;
}

.button-admin{
    margin-top: 10px;
    background:  #FE5621;
    margin-bottom: 10px;
}

.button-join:hover {
    border: 2px solid #00b574;
    padding: 4px 14px;
    background: none;
    color: #00b574;
}

.button-withdraw:hover{
    border: 2px solid #e61e47;
    padding: 4px 14px;
    background: none;
    color: #e61e47;
}

.button-admin:hover{
    border: 2px solid #FE5621;
    padding: 4px 14px;
    background: none;
    color: #FE5621;
}