@import "styles/main.scss";

.profile-status-bar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 28px 2rem;
  border-radius: 0.5rem;
  border: 1px solid $color-border;

  .section-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 355px;

    @media (max-width: 767.98px) {
      justify-content: center;
      max-width: 1000px;
    }

    @media (max-width: 575.98px) {
      .custom-button {
        width: 100%;
      }
    }

    & > span {
      @include app-font(26px, 30px);
      color: $color-text-primary;
    }

    .custom-button {
      font-weight: 500 !important;
      margin-top: 28px;
    }
  }

  .section-right {
    @media (max-width: 767.98px) {
      .circular-progress-bar {
        display: none;
      }
    }
  }
}
