$color-primary: #fe5621;
$color-success: #00b574;
$color-accent: #438cef;
$color-warning: #ff9f29;
$color-info: #0759cb;
$color-error: #e61e47;

$color-text-primary: #3c4752;
$color-text-secondary: #697077;
$color-text-third: #989da2;

$color-background: #fafafc;
$color-white: #ffffff;
$color-background-dark: #f5f5f8;
$color-disabled: #cfd3d6;
$color-border: #e1e2ee;
$color-shadow: #372157;
$color-dark-purple: #0f233d;
