@font-face {
    font-family: Barlow;
    font-style: normal;
    src: url(./tipografia/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3bWuQ.woff2) format('woff2');
}

@font-face {
    font-family: BarlowN;
    font-style: normal;
    src: url("./tipografia/HTxwL3I-JCGChYJ8VI-L6OO_au7B4-Lwz3bWuQ\ \(2\).woff2") format('woff2');
}

@font-face {
    font-family: BarlowP;
    font-style: normal;
    src: url(./tipografia/7cHpv4kjgoGqM7E_DMs5.woff2) format('woff2');
}