.container-conference{
  overflow: hidden scroll;
  height: calc(100vh - 10px);
  margin-top: 90px;

  .imagen-speakers{
    position: relative;
    width: 108%;
    height: calc(50vh);
    background-image: url("https://upload-files-lab.s3.amazonaws.com/fabio-oyXis2kALVg-unsplash+1.png");
    background-size: 100% 100%;
    background-blend-mode: soft-light;
    background-color: rgba(0, 0, 0, 0.19);
    transform: translateX(-7%);
    background-position: center 0%;
    background-repeat: no-repeat;
  }

  .container-content-picture-speakers{
    position: relative;
    top: calc(-42vh + 65px);
    align-items: center;
    flex-direction: column;
    height: 0px;
    width: 100%;

    .title-containers{
        width: auto;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 80px;
        margin: 0px;
        color: white;
    }
  }

  .containers-speakers{
      width: 100%;
      background: #10253F;
      height: auto;
      padding-bottom: 100px;
      margin-top: -5px;
  }

  .containers-speakers{
    height: auto;
  }
}