@import "styles/main.scss";

.podcast-series-card {
  min-height: 386px;
  background: $color-white;
  border: 1px solid $color-border;
  border-radius: 0.5rem;
  box-shadow: 4px 0px 14px #37215714;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  cursor: pointer;
  width: 100%;

  &-header {
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    border: 1px solid $color-border;
    border-radius: 0.5rem;
    background: $color-background-dark;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-backimg {
    background-color: $color-text-primary;
  }

  &-content {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 0.5rem;
    padding: 1.5rem 1rem 1rem;
    overflow: hidden;
    position: relative;
  }

  &-title {
    font-weight: 500 !important;
  }

  &-desc {
    @include app-font(14px, 21px, 500);
    color: $color-text-secondary !important;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin: 0;
    height: 100%;
    /* autoprefixer: off */
  }
}
