@import "../../../styles/main.scss";

.speakers-list {
  margin-top: 15rem;
  width: 110%;
  position: relative;
  left: -5%;

  &::-webkit-scrollbar {
    display: none;
  }

  &-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  

//   @media (max-width: 1023.98px) {
//     margin: 0 4rem 44px;
//   }

//   @media (max-width: 767.98px) {
//     // margin: 0 1rem 44px;
//     // grid-row-gap: 42px;
//     // grid-column-gap: 1rem;
//   }
    
   
  }
}
