@import "../../../styles/main.scss";

.conference-list {
  margin-top: 20rem;

  @media (max-width: 1300px) {
    margin-top: 24rem;
  }

  @media (max-width: 1100px) {
    margin-top: 24rem;
  }

  @media (max-width: 800px) {
    margin-top: 26rem;
  }

  @media (max-width: 500px) {
    margin-top: 24rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &-header {
    display: flex;
    justify-content: flex-end;

    &-select {
      display: flex;
      align-items: center;
    }

    &-sort {
      margin-left: 1rem;
      max-width: 200px;
    }
  }

  &-container {
    margin: 2rem 3rem;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    @media (max-width: 500px) {
      margin: 2rem 0rem;
    }
    .session-step,
    .annual-conference-card {
      margin-bottom: 2rem !important;
    }
  }

  &-info-icon{
    color: $color-accent !important;

    &:hover{
      color: $color-info !important
    }
  }
}
