@import "styles/main.scss";

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-border;
  border-radius: 0.25rem;

  &-text {
    border: none !important;

    &:focus {
      box-shadow: none !important;
    }
  }

  &-icon {
    margin: 0 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
