@import "styles/_colors.scss";
@import "styles/_mixins.scss";

.channel-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &-loading-more {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-loading {
    margin-top: 1rem;
  }

  @media (max-width: 1260px) {
    display: block;
  }
}

.channel-page__container {
  background: #FAFAFC;
  width: 100%;
  overflow: hidden;

  .channel-page__content-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    margin-top: 0px;
    left: 20px;
    top: 15px;
    position: absolute;
    z-index: 10;

    .channel-page__content-top-back {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;

      img {
        width: 25px;
        height: 25px;
        transform: translateY(-2px);
      }
    }

    & > h4 {
      font-weight: normal !important;
    }
  }

  @media  (max-width: 1000px){
    .channel-page__content-top{
      padding: 5px;
      border-radius: 10px;
      background: white;
    }
  }
  @media  (max-width: 700px){
    .channel-page__content-top{
      display: none;
    }
  }
}

.channel-page__results {
  height: calc(100vh - 72px);
  width: 100%;
  position: relative;
  overflow: hidden scroll;
  z-index: 1;
}

.channel-page__results::-webkit-scrollbar {
  width: 10px;
}

.channel-page__results::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: $color-text-secondary;
}

.channel-page__row {
  display: flex;
  flex-wrap: wrap;
  width:60%;
  margin-left: 20%;
  padding-bottom:60px ;
  padding-top: 25px;

  .background-forms{
    display: none;
    width: 100%;
    background-image: url(../../images/masck.svg);
    background-size: 100% 100vh;
    background-repeat: repeat-y;
    z-index: -1;
    position: absolute;
    top: -15px;
    left: 0px;
  }

}

@media  (max-width: 1250px){
  .channel-page__row{
    margin-left: 10%;
    width: 80%;
  }
}

@media  (max-width: 750px){
  .channel-page__row{
    margin-left: 5%;
    width: 90%;
  }
}

.channel-page__info-column {
  width: 100%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background: linear-gradient(103.94deg, rgba(255, 255, 255, 0.25) -0.42%, rgba(219, 219, 219, 0.25) 102.69%);
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: #D9D1D1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  backdrop-filter: blur(5px);
  padding-bottom: 30px;
  padding-top: 25px;

  .pencil-container{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    top: 10px;
    left: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;

    .pencil{
      background-image: url(../../images/pencil.svg);
      width: 20px;
      height: 20px;
      background-size: 100% 100%;
    }
  }

  .pencil-container:hover{
    transition: all 0.4s ease-in-out;
    background: #ffbda9;
  }

}

.channel-page__content {
  width: 100%;
  position: relative;
  height: auto;

  .tabs-channels{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background: linear-gradient(103.94deg, rgba(255, 255, 255, 0.25) -0.42%, rgba(219, 219, 219, 0.095) 102.69%);
    border-width: 2px 0px 0px 2px;
    border-style: solid;
    border-color: #D9D1D1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    backdrop-filter: blur(5px);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-left: 15px;
    position: relative;
    overflow: hidden;

    p {
      padding: 0px 20px;
      margin: 0px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #697077;
      font-size: 15px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      white-space: nowrap;
    }

    .select{
      transition: all 0.5s ease-in-out;
      color:#FE5621 ;
    }

    .box-select{
      position: absolute;
      height: 100%;
      border-width: 0px 0px 3px 0px;
      border-style: solid;
      border-color: #FE5621;
      transition: all 0.5s ease-in-out;
    }

    .calc-with-tabs{
      display: flex;
      flex-direction: row;
      align-content: center;
    }

    .container-card-menu{
      position: absolute;
      height: 100%;
      right: 0px;
      width: 50px;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(241, 241, 241);
      border-radius: 0px 15px 15px 0px;

      .library-card-menu-tab{
        width: 75%;
        height: 50%;
        margin-top: -5%;
      }
    }
  }

  .card-content-home{
    border-radius: 20px;
    background: linear-gradient(103.94deg, rgba(255, 255, 255, 0.768) -0.42%, rgba(234, 234, 234, 0.325) 102.69%);
    border-width: 2px 0px 0px 2px;
    border-style: solid;
    border-color: #D9D1D1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    backdrop-filter: blur(5px);
    padding: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
    height: auto;

    .ajust-contain{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .content-botton{
      width: 100%;
      margin-left: 30px;
    }

    .margin-botton-content{
      margin-bottom: 20px;
    }
  }

  @media (max-width: 750px) {
    &-top {
      margin-bottom: 50px;
    }
  }

  .custom-tabs > .ant-tabs-nav {
    box-shadow: 4px 0px 14px #37215714;
  }

  @media (max-width: 1023.98px) {
    width: 100%;
  }

  @media (min-width: 1024px) {
    order: 1;
  }
}

.channel-info__user {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  @include app-font(2rem, 19px, bold);
  overflow: hidden;
  box-shadow: 0px 1px 3px #37215729;
  position: relative;
  width: 100%;
  padding-top: 20%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container-image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: rgba(255, 255, 255, 0.326);
  }

  .pencil-container{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    top: 10px;
    left: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;

    .pencil{
      background-image: url(../../images/pencil.svg);
      width: 20px;
      height: 20px;
      background-size: 100% 100%;
    }
  }

  .pencil-container:hover{
    transition: all 0.4s ease-in-out;
    background: #ffbda9;
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.text-center {
  text-align: center;
}

.channel-info__general-info {

  width: 100%;

  .channel-info__name{
    width: 85%;
    text-align: left;
    padding-left: 30px;
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    display: flex;
    color: #3C4752;
  }

  .channel-info__description{
    text-align: left;
    padding-left: 30px;
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #3f3f3f;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .channel-info__topics{

    margin-left: 30px;
    margin-bottom: 10px;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
    .content-title-channel-topics{
      width: 110px;

      span{
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        display: inline-block;
        overflow-wrap: normal;
        width: 110px;
      }
    }
    

    .container-topics{
      font-weight: bold ;
      color: $color-text-primary ;
      margin-bottom: 0px ;

      span{
        font-weight: 500 ;
        margin-left: 5px ;
      }

      @media (max-width: 575.98px) {
        @include app-font(16px, 21px);
      }
      
    }
    
  }

  > * + * {
    margin-top: 20px;
  }
}

@media  (max-width: 750px){
  .channel-page__info-column, .channel-info__user{

    .pencil-container{
      width:30px;
      height: 30px;

      .pencil{
        width:15px;
        height: 15px;
      }
    }
  }

  .channel-info__general-info{
    .channel-info__name{
      font-size: 22px;
      line-height: 28px;
    }
    .channel-info__description{
      width: 90%;
    }
  }

  .channel-info__topics{
    flex-direction: column;
    flex-wrap: wrap;

    .content-title-channel-topics{
      width: 100%;
      margin-bottom: 10px;

      span{
        width: 100%;
        font-size: 15px;
      }
    }
  }
}

.channel-page__list-wrap {
  padding-top: 1rem;
  overflow: auto;
  height: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.channels__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 2rem;

  .buttomAddR{
    position: absolute; 
    top: -154px; 
    left: 240px;
  }

  .buttomAddRR{
    position: absolute;
    top: 17px;
  }

}

.channels-page__events-list-wrap {
  .event-list {
    height: auto;

    .buttomAddR{
      position: absolute; 
      top: -154px; 
      left: 240px;
    }

    .buttomAddRR{
      position: absolute;
      top: 17px;
    }

  }

  .event-list-filters {
    display: none;
  }

  .event-list {
    padding-top: 0;
  }
}

.channel-page__space {
  width: 100%;
  height: 36px;
}
.counter{
  display: flex;
  justify-content: flex-end;
}

.ant-form-item-control-input-content{
  .fr-box {
    position: relative;
  }
  .fr-element.fr-view{
    max-height: 400px;
  }
}