@import "styles/_colors.scss";
@import "styles/_mixins.scss";

.channel-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &-loading-more {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-loading {
    margin-top: 1rem;
  }

  @media (max-width: 1260px) {
    display: block;
  }
}

.channel-page__container {
  background: #FAFAFC;
  width: 100%;

  .channel-page__content-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    margin-top: 0px;
    left: 20px;
    top: 15px;
    position: absolute;
    z-index: 10;

    .channel-page__content-top-back {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;

      img {
        width: 25px;
        height: 25px;
        transform: translateY(-2px);
      }
    }

    & > h4 {
      font-weight: normal !important;
    }
  }
}

.channel-page__results {
  height: calc(100vh - 72px);
  width: 100%;
  position: relative;
  overflow: scroll;
  z-index: 1;

  @media (max-width: 1023.98px) {
    padding: 0rem 1.5rem;
  }
}

.channel-page__results::-webkit-scrollbar {
  width: 10px;
}

.channel-page__results::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: $color-text-secondary;
}

.channel-page__row {
  display: flex;
  flex-wrap: wrap;
  width:60%;
  margin-left: 20%;
  padding-bottom:60px ;
  padding-top: 25px;

  .background-forms{
    width: 100%;
    background-image: url(../../images/masck.svg);
    background-size: 100% 100vh;
    background-repeat: repeat-y;
    z-index: -1;
    position: absolute;
    top: -15px;
    left: 0px;
  }

  @media (max-width: 1023.98px) {
    > * + * {
      margin-top: 15px;
    }
  }
}

.channel-page__info-column {
  width: 100%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background: linear-gradient(103.94deg, rgba(255, 255, 255, 0.25) -0.42%, rgba(219, 219, 219, 0.25) 102.69%);
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: #D9D1D1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  backdrop-filter: blur(5px);
  padding-bottom: 30px;

  > * + * {
    margin-top: 25px;
  }
}

.channel-page__content {
  width: 100%;
  position: relative;
  height: auto;

  .tabs-channels{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background: linear-gradient(103.94deg, rgba(255, 255, 255, 0.25) -0.42%, rgba(219, 219, 219, 0.095) 102.69%);
    border-width: 2px 0px 0px 2px;
    border-style: solid;
    border-color: #D9D1D1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    backdrop-filter: blur(5px);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-left: 15px;
    position: relative;

    p {
      padding: 0px 20px;
      margin: 0px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #697077;
      font-size: 15px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }

    .select{
      transition: all 0.5s ease-in-out;
      color:#FE5621 ;
    }

    .box-select{
      position: absolute;
      height: 100%;
      border-width: 0px 0px 3px 0px;
      border-style: solid;
      border-color: #FE5621;
      transition: all 0.5s ease-in-out;
    }
  }

  .card-content-home{
    border-radius: 20px;
    background: linear-gradient(103.94deg, rgba(255, 255, 255, 0.768) -0.42%, rgba(234, 234, 234, 0.325) 102.69%);
    border-width: 2px 0px 0px 2px;
    border-style: solid;
    border-color: #D9D1D1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    backdrop-filter: blur(5px);
    padding: 20px;
    overflow: hidden;
    margin-top: 20px;
  }

  @media (max-width: 750px) {
    &-top {
      margin-bottom: 50px;
    }
  }

  .custom-tabs > .ant-tabs-nav {
    box-shadow: 4px 0px 14px #37215714;
  }

  @media (max-width: 1023.98px) {
    width: 100%;
  }

  @media (min-width: 1024px) {
    order: 1;
  }
}

.channel-info__user {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  @include app-font(2rem, 19px, bold);
  overflow: hidden;
  box-shadow: 0px 1px 3px #37215729;
  position: relative;
  width: 100%;
  padding-top: 20%;
  border-radius: 20px 20px 50px 50px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.386);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.text-center {
  text-align: center;
}

.channel-info__general-info {

  width: 100%;

  .channel-info__name{
    text-align: left;
    padding-left: 30px;
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    display: flex;
    color: #3C4752;
  }

  .channel-info__description{
    text-align: left;
    padding-left: 30px;
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #5C5C5C;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .channel-info__topics{

    margin-left: 30px;
    margin-bottom: 10px;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
    .content-title-channel-topics{
      width: 110px;

      span{
        margin: 0px;
        padding: 0px;
        margin-top: 7.5px;
        font-weight: bold;
        display: inline-block;
        overflow-wrap: normal;
        width: 110px;
      }
    }
    

    .container-topics{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
        
      .container-category{
        padding: 2px 20px 5px 20px;
        margin: 0px;
        border-radius: 5px;
        border-width: 2px 2px 2px 2px;
        border-style: solid;
        border-color: #438CEF;
        color: #438CEF;
        margin-left: 10px;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(1px);
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    
  }

  > * + * {
    margin-top: 20px;
  }
}

.channel-page__list-wrap {
  padding-top: 1rem;
  overflow: auto;
  height: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.channels__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 2rem;

  .buttomAddR{
    position: absolute; 
    top: -6px; 
    left: 190px;
  }

  .buttomAddRR{
    position: absolute; 
    top: -6px; 
    left: 190px;
  }

  @media (max-width: 750px) {
    .buttomAddR{
      position: absolute; 
      top: 40px; 
      left: 0px;
    }
  }
}

.channels-page__events-list-wrap {
  .event-list {
    height: auto;

    .buttomAddRR{
      position: absolute; 
      top: -6px; 
      left: 190px;
    }

    @media (max-width: 750px) {
      .buttomAddRR{
        position: absolute; 
        top: 40px; 
        left: 0px;
      }
    }
  }

  .event-list-filters {
    display: none;
  }

  .event-list {
    padding-top: 0;
  }
}

.channel-page__space {
  width: 100%;
  height: 36px;
}
.counter{
  display: flex;
  justify-content: flex-end;
}

.ant-form-item-control-input-content{
  .fr-box {
    position: relative;
  }
  .fr-element.fr-view{
    max-height: 400px;
  }
}