@import "styles/main.scss";

.post-page {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: calc(100vh - 72px);
  padding: 4rem;
  overflow: auto;
  position: relative;

  &-container {
    max-width: 1024px;
    margin: 0 auto;
    background: $color-background;
  }
}
