@import "styles/main.scss";

.post-page {
  width: 100%;
  height: calc(100vh - 72px);
  padding: 4rem;
  overflow: auto;
  position: relative;

  @media (max-width: 575.98px) {
    padding: 2rem;
  }

  &-container {
    max-width: 1024px;
    margin: 0 auto;

    &--header-button-section{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      svg {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }

    &--comments-container{
      margin-top: 1rem;
      padding: 1rem;
      background-color: $color-white;
      
      &--empty-message{
        text-align: center;
        color: $color-text-secondary;
        font-weight: 700;
      }
    }
  }
}
