@import "../../../../styles/main.scss";

.container-agenda{
    width: 100%;
    padding: 20px;
    height: 100%;

    .title-date{
        padding: 0px;
        padding-top: 30px;
        padding-left: 10px;
        width: 96%;
        font-size: 30px;
        margin: 0px;
        font-weight: bold;
    }

    .space-around{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .ajust-contain{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

}