@import "../../../../styles/main.scss";

.container-agenda{
    width: 100%;
    padding: 20px;
    height: 100%;

    .title-date{
        padding: 0px;
        padding-top: 30px;
        padding-left: 0px;
        transform: translateX(-30px) translateY(18px);
        width: 96%;
        font-size: 28px;
        margin: 0px;
        font-weight: bold;
    }

    .space-around{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .ajust-contain{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .content-collapse{
        .title-collapse{
            color: #404040;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 42px;
            margin: 0px;
            margin-bottom: 15px;
        }

        .content-information{
            display: flex;
            width: auto;
            height: auto;
            flex-direction: row;

            .content-first-information{
                width: 265px;
                position: relative;
                margin-bottom: 25px;
                border-right: 2px solid rgba(254, 86, 33, 0.29);
                height: 57px;
    
                .p-content{
                    font-style: normal;
                    font-weight: 450;
                    font-size: 16px;
                    line-height: 26px;
                    color: #999999;
                    margin: 0px;
                    margin-bottom: 5px;
    
                    .date{
                        position: absolute;
                        right: 25px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 26px;
                        color: #404040;
                    }
                } 
            }
    
            .content-second-information {
                width: 220px;
                height: 57px;
                display: flex;
                flex-direction: column;
                padding-left: 25px;

                .p-location{
                    margin: 0px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    color: #404040;
                    margin-bottom: 5px;
                }

                .p-location-data{
                    margin: 0px;
                    font-weight: 600;
                    font-size: 19px;
                    line-height: 31px;
                    color: #404040;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }

}