@import "styles/main.scss";

.invite-modal {
  position: relative;

  .ant-modal-content {
    border-radius: 5px;
  }

  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px 5px 0 0;
    background: $color-background-dark;
    margin: -1rem -1.5rem;
    padding: 48px 0 16px;

    h3 {
      font-weight: bold !important;
    }

    h5 {
      color: $color-text-secondary !important;
      font-weight: 500 !important;
    }
  }

  &-logo {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 1px solid $color-border;
    overflow: hidden;
    top: -36px;
    left: 50%;
    transform: translate(-50%, 0);
    background: $color-white;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-close {
    transform: translate(8px, -8px);
  }

  .ant-modal-footer {
    display: none;
  }

  .ant-modal-body {
    background: $color-background !important;
  }
}
