@import "../../../../styles/main.scss";


.ant-slider-track{
    background-color: $color-accent !important;
}

.ant-slider-handle{
    border-color: $color-accent !important;
}

.form-recent-workarea{
   .ant-checkbox-wrapper:first-child {
        margin-left: 8px;
    }
}