@import "../../styles/main.scss";

.global-conference {
  background: $color-background;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: calc(100vh - 72px);
  overflow: auto;

  @media (max-width: 1023.98px) {
    .global-conference-filter-panel {
      display: none;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__filters--button {
    display: none;
    button {
      width: 100%;
    }
    @media (max-width: 1023.98px) {
      display: block;
      margin-bottom: 1rem;
    }
  }

  &-container {
    width: 100%;
    padding: 3rem 20%;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 1024px) {
      padding: 3rem 4%;

      .acc-session-added-tag {
        right: -2px;
      }
    }

    @media (max-width: 500px) {
      padding: 3rem 2%;

    
    }

    &-top-menu {
       position: fixed !important;
       z-index: 20 !important;
       background: $color-background;
       top: 73px;
       padding: 2rem 10px;
       left: 30%;
       max-width: 1200px;

       @media (max-width: 1440px){
        left: 30%;
        padding: 20px 10px;
      }

      @media (max-width: 1100px){
        left: 40%;
        padding: 20px 10px;
      }

      @media (max-width: 800px){
        left: 15%;
        padding: 20px 10px;
      }

      @media (max-width: 500px){
        left: 1%;
        padding: 20px 0px;
      }
      
    }

    .attending-label {
      margin-right: 37px;
      color: $color-success;
      @include app-font(16px, 21px, normal);
      white-space: nowrap;

      span {
        margin-left: 0.5rem;
      }
    }
  }

  &-description {
    margin-top: 2rem;
    @include app-font(16px, 24px);
    color: $color-text-secondary;

    @media (max-width: 500px){
      max-height: 120px;
      overflow-y: scroll;
    }
  }

  &-pagination {
    display: flex;
    justify-content: space-between;

    .sub-menu{
      background: none;
      display: flex;
      justify-content: center;
     width: 90%;
    }

    .custom-button {
      margin-left: 0.5rem;
      padding: 0 1rem;
    }

  }

  &-tabs {
    overflow-x: visible;
    .ant-tabs > .ant-tabs-nav,
    .ant-tabs > div > .ant-tabs-nav {
      position: fixed;
      padding-top: 20px;
      margin-top: 170px;
      left: 30%;
      z-index: 19;
      background: $color-background;

      @media (max-width: 1500px){
       left: 30%;
       margin-top: 183px;
      }

      @media (max-width: 1100px){
        margin-top: 220px;
        left: 40%;
        overflow-x: scroll;
      }

      @media (max-width: 800px){
        margin-top: 250px;
        left: 18%;
        overflow-x: scroll;
      }

      @media (max-width: 500px){
        left: 5%;
      }

     
    }

  }
}

.sub-menu-item-global-conference {
  font-size: 16px;
  margin: 0px 25px !important;
}
a:hover,
a:active,
.ant-menu-item-selected a {
  color: $color-primary !important;
}

.sub-menu-item-global-conference:hover,
.ant-menu-horizontal > .ant-menu-item-selected,
.sub-menu-item-global-conference:active {
  border-bottom: 2px solid $color-primary !important;
  color: $color-primary !important;
}
