@import "../../styles/main.scss";

.global-conference {
  background: $color-background;
  padding: 3rem 0;
  height: calc(100vh - 72px);
  overflow: auto;

  &-container {
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
  }

  &-description {
    margin-top: 2rem;
    @include app-font(16px, 24px);
    color: $color-text-secondary;
  }
}
