@import "styles/_colors.scss";
@import "styles/main.scss";

.job-board-page {
  height: 100vh;
  padding-bottom: 64px;

  .job-posts-wrapper {
    width: 100%;
    overflow-y: scroll;
    padding: 0 1rem;

    .job-posts-container {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      padding: 1rem;
      gap: 1rem;
      width: 100%;
    }
  }
}

.search-results-container-footer {
  height: 64px;
}

.job-board-page-loading-more {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
