.modal-container-complete-profile {
    width: 100% ;
    height: 50vh ;
    top: 0px ;
    padding: 0px;
    margin: 0px;
  
    .ant-modal-content {
      background: transparent;
      border: none;
      box-shadow: none;
  
      .ant-modal-close {
        display: none;
      }
  
      .login-page {
        background: transparent;
      }
    }
  
    @media (max-width: 1024px) {
      width: 100% ;
      padding: 0 ;
  
      .ant-modal-body {
        padding: 0 ;
      }
    }
}

.container-message{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 150px;
  background: white;
  z-index: 10000;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.2s all ease-in-out ;

  .text-message{
      margin: 0px;
      padding: 0px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
  }
}