@import "styles/main.scss";

.my-learnings-page {
	display: grid;
	grid-template-columns: auto 1fr;
	width: 100%;

  &-loading-more {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

	&-container {
		height: calc(100vh - 72px);
		background: $color-background;
		overflow: auto;
		padding: 4rem;
		position: relative;

		@media (max-width: 576px) {
			padding: 1rem;
		}
	}

	&__filters--button {
		display: none;
		margin-bottom: 1rem;

		button {
			width: 100%;
		}

		@media (max-width: 1023.98px) {
			display: block;
		}
	}
  @media (max-width: 1023.98px) {
    display: block;
  }

	@media (max-width: 1023.98px) {
		.podcast-filter-panel {
			display: none;
		}
	}
}

.saved-for-later {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.25rem;
}

.completed-items {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.25rem;
  @media (max-width: 1029px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.items-with-hr-credits {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.25rem;
  @media (max-width: 1029px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.my-learnings-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 2rem;
	margin-bottom: 44px;
	margin-top: 3rem;

	@media (max-width: 1023.98px) {
		margin: 1rem 4rem 44px;
		justify-items: center;
	}

	@media (max-width: 767.98px) {
		margin: 1rem 1rem 44px;
		grid-row-gap: 42px;
		grid-column-gap: 1rem;
	}
}

.event-videos {
  margin-top: 1rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.learnings-filter-panel {
  @media (max-width: 1029px) {
    display: none;
  }
}

.search-results-container {
  &-mobile-header {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    padding: 0 1rem;
    background: $color-white;
    margin-bottom: 28px;
    border-bottom: 1px solid #e1e2ee;
    @media (max-width: 1029px) {
      display: flex;
      margin-bottom: 0px;
    }
    .filters-btn {
      color: $color-primary !important;
      cursor: pointer;

      &.disabled {
        color: $color-disabled !important;
        cursor: not-allowed;
      }
    }}
}