@import "../../styles/main.scss";

.marketplace-page {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;

  .search-results-container {
    height: calc(100vh - 72px);
    background: $color-background;
    overflow: auto;
    padding-top: 4rem;
    padding-right: 8rem;
    padding-left: 8rem;
    position: relative;

    &-header {
      margin: 0px auto 36px auto;
      width: 904px;
    }

    &-sort {
      width: max-content;
      height: 24px !important;

      .ant-select-selector {
        height: 24px !important;
        padding-right: 24px !important;
      }
    }
  }

  @media (max-width: 1023.98px) {
    display: block;

    .marketplace-filter-panel {
      display: none;
    }

    .search-results-container {
      padding: 0 0 54px;

      &-header {
        justify-content: center !important;
        margin-bottom: 50px;

        h3 {
          display: none;
        }
      }

      &-mobile-header {
        display: flex;
      }

      &-sort {
        .ant-select-selection-item {
          @include app-font(20px, 30px);
        }
      }
    }

    .search-results-list {
      margin: 0 4rem 44px;
      justify-items: center;
    }
  }
}