@import "styles/main.scss";

.upload-resume {
  &-filename {
    font-size: 18px;
    color: $color-text-primary;
    margin: 0 1rem 0 0.5rem;
  }

  &-form {
    display: flex;
    align-items: center;

    &-label {
      @include app-font(14px, 19px, 600);
      color: $color-text-primary !important;
      margin-right: 1rem;
    }

    &-pdficon {
      color: $color-primary !important;
      font-size: 20px;
      width: 24px;
      height: 24px;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    &-delete {
      color: $color-error !important;
      font-size: 20px;
      cursor: pointer;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex !important;
      justify-content: center;
      align-items: center;

      &:hover {
        background: #e61e4733;
      }
    }

    .external-link {
      color: $color-primary;
      margin-left: 1rem;
      cursor: pointer;
    }
  }

  &-error {
    @include app-font(16px, 24px);
    color: $color-error;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }

  &-none {
    color: $color-primary !important;
    @include app-font(16px, 24px, 600);
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}
