@import "styles/main.scss";

#posts-container {
  width: 100%;
  margin: 1rem auto;
  padding: 0 1rem 0 2rem;

  h3 {
    color: $color-primary !important;
    margin-bottom: 2rem !important;
  }

  .custom-post-card {
    max-width: 1000px;
  }
}
