@import "styles/main.scss";

#posts-container-home {
  width: 100%;
  padding-top: 1.5em;
  max-width: 1000px;
  min-width: 1000px;

  h3 {
    color: $color-primary !important;
    margin-bottom: 2rem !important;
  }

  .moreContainer {
    padding: 1em;
  }
}
